// Rem output with px fallback
@mixin font-size($sizeValue: 1.6) {
	font-size: ($font__basesize * $sizeValue * 10) + px;
	font-size: $font__basesize * $sizeValue + rem;
}

@mixin transition($transition-property: all, $transition-time: 0.2s, $method: ease) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin link_icon($extension) {
	position:relative;
	&:before {
		content:"";
		position:relative;
		width: 26px;
		height: 26px;
		background:url(../images/icons/programs/icon-#{$extension}.png) no-repeat center center;
		display: inline-block;
		margin-right: 3px;
		max-height:1.4em;
		background-size:contain;
		top:-2px;
		vertical-align: middle;
	}
}