@import "extras/prefooter";
@import "extras/social-links";
@import "extras/popup";
@import "extras/newsletter";

* {
	box-sizing: border-box;
}

$extensions: (
	odt doc,
	doc doc,
	docx doc,
	ods xls,
	xls xls,
	xlsx xls,
	pdf pdf
);

@each $type in $extensions {
	a[href$=".#{nth($type,1)}"] {
		@include link_icon( #{nth($type, 2)} );
	}
}


div#fancy_outer {
	-webkit-box-sizing:content-box;
	   -moz-box-sizing:content-box;
	        box-sizing:content-box;
}

a#fancy_right:hover span {
	right:10px;
	left:auto;
}
a#fancy_left:hover span {
	left:10px;
}
div#fancy_title {
	display: none !important;
}

.elementor-editor-active {
	.site-header {
		position: static !important;
	}
}