#catapult-cookie-bar {
    .ctcc-inner {
        display: flex;
        flex-direction: column;

        .ctcc-left-side {
            @include font-size(1.2);
        }

        .ctcc-right-side {
            margin-top: 15px;
        }
    }
}