.page-template-contact {
    .site-content {
        padding-bottom: 100px;
    }

    .banner {
        background-color: #fff;
        background-image: url('../images/newsletter-bg.png');
        background-position: right bottom;
        background-repeat: no-repeat;
        border-radius: $radius__large;
        box-shadow: 0 8px 24px rgba(black, .1);
        margin-bottom: 50px;
        padding: 50px;
        position: relative;

        &::before {
            background-image: url('../images/kontakt-bg.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            bottom: -35px;
            content: '';
            height: 300px;
            position: absolute;
            right: 80px;
            width: 255px;
        }

        h3 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 0;
            width: 50%;
        }
    }

    .faq-form-wrapper {
        display: flex;

        > div {
            flex: 1;

            .header {
                align-items: center;
                display: flex;
                margin-bottom: 30px;

                h3 {
                    margin-left: 15px;
                }
            }
        }

        .faqs-container {
            > a {
                display: block;
                margin: 15px 0;

                img {
                    margin-right: 10px;
                }
            }
            .answer {
                margin: 0;
                max-height: 0;
                opacity: 0;
                @include transition();
                visibility: hidden;

                &.show {
                    max-height: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .right {
            p {
                margin-bottom: 50px;
            }

            a[role="button"] {
                font-weight: 600;
                padding: 15px;
            }
        }
    }

    .tiles-wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 70px;

        > div {
            background-color: #fff;
            background-position: 40px center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            height: 190px;
            justify-content: center;
            padding-left: 35%;

            p {
                font-weight: 500;
                margin: 0;

                a {
                    color: $color__text-main;
                }
            }

            &.company-info {
                background-color: $color__main;
                background-image: url('../images/icons/adres.svg');
                color: #fff;

                p {
                    margin-bottom: 10px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            &.phone {
                background-image: url('../images/icons/phone.svg');
            }

            &.email {
                background-image: url('../images/icons/email.svg');
            }

            &.phone,
            &.email {
                @include font-size(2);

                p,
                p a {
                    font-weight: bold;
                }
            }
        }
    }

    .form-container {
        padding-top: 100px;
        
        h3 {
            margin-bottom: 30px;
        }
    }
}
