.page-with-sidebar-container {
	display: flex;
	justify-content: space-between;
	.content-area {
		width: $size__site-content;
	}
	.widget-area {
		width: $size__site-sidebar;
	}
	&.reverse {
		.content-area {
			order: 2;
		}
	}
}