.site-footer {
	background-color: $color__background-footer;
	clear: both;
	color: $color__text-footer;
	@include font-size(1.3);
	position:relative;
	
	a {
		color: $color__link-footer;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	.wrapper {
		border-top: 1px solid $color__text-footer;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 30px 0;
		
		&::before, &::after {
			display: none;
		}

		> div {
			display: flex;
			flex: 1;
		}
		
		.f-right {
			justify-content: flex-end;

			.kreacja {
				align-items: center;
				display: flex;

				svg {
					fill: $color__main;
					margin-left: 7px;
				}
			}
		}
	}
}