.content-area.full {
	float: none;
	clear:both;
	margin: 0;
	width: 100%;
}

.full .site-main {
	margin: 0;
	padding-right: 0;
	padding-left: 0;
}


.full .entry-content > .wpb_row {
	position:relative;
}


.full .entry-content > .wpb_row.home-section:last-child {margin-bottom: 0}
.full .hentry:last-child {margin-bottom: 0;}