
#wpadminbar {opacity:.4; top:auto; bottom:0;}
#wpadminbar:hover {opacity:1;}
body.admin-bar {
	padding-bottom: 32px;
	margin-top:-32px;
	position: relative;
	&:after{
		content: "";
		display: block;
		position: absolute;
		bottom:0;
		left: 0;
		right: 0;
		height: 32px;
		width: 100%;
		background-color: #23282d;
	}
}
#wpadminbar {
	top:auto;
	bottom:0;

	.menupop .ab-sub-wrapper,
	.shortlink-input {
		bottom: 32px;
	}

	.menupop li.hover>.ab-sub-wrapper, 
	.menupop li:hover>.ab-sub-wrapper {
		margin-top: 0;
		bottom:0;
	}
}
html.js {margin-top:0 !important;}

.site-header {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	padding: 65px 0;
	background-color: $color__background-header;
	@include transition(all, .4s, linear);
	&.sticky {
		padding: 25px 0;
		background: #fff; 
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		&::before, &::after {
			display: none;
		}
	}
}