.sticky {
	display: block;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-summary {
	margin: 0.7em 0 0;
}

.page-content {
	margin: 1.5em 0 0;
}

.entry-content {}

.archive .hentry .entry-content {
	margin-top: 0.4em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// .site-content {
// 	padding:$size__padding 0;
// }
.site-content .wrapper {}

.site-main {
	padding-bottom: 100px;
}

.blog .site-main {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 50px;

	> article {
		background-color: #fff;
		border-radius: $radius__large;
		padding: 20px;

		.published {
			display: block;
			margin-bottom: 15px;
		}

		.entry-content {
			line-height: 1.4;
		}
	}
}

.posted-on {
	color: #bbb;
}

.page-header {}

.page-container {
	padding-top: 50px;
}

.tax-product_cat {
	.page-container {
		padding-top: 0;
	}
}

#page {
	&.darken::before {
		background-color: rgba(black, .7);
		bottom: 0;
		content: '';
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 999999;
	}
}

.search article {
	border-top: 1px solid $color__hr;
	padding-top: $size__padding;

	&:first-of-type {
		border-top: 0;
	}
}

.post-meta {
	color: #a1a1a1;
	@include font-size(1.5);
}