.contact__list {
  font-size: 18px !important;
}
.contact__list ul {
  padding: 0 !important;
}
.contact__work a {
  color: black !important;
}
#contact__card1 .elementor-column-wrap  {
  background-image: url(../images/bg_telefon_apteka.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
#contact__card2 .elementor-column-wrap  {
  background-image: url(../images/bg_telefon_medycyna.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.contact__form .elementor-field-group .elementor-field-textual {
  border:  1.5px solid #B8BFBE !important;
  border-radius: 8px;
  font-weight: 400 !important;
  color: #535353 !important;
  font-size: 16px !important;


}
.contact__form .elementor-field-subgroup label {
  color: #B8BFBE !important;
  margin: 6px !important;
  font-size: 14px !important;
  line-height: 1 !important;
  display: block !important;

}
.contact__form .elementor-acceptance-field {
  margin: 6px !important;

}
.contact__form .elementor-field-type-acceptance {
  display: flex !important;
}
.contact__form .elementor-button-text {
  font-size: 16px !important;
}

.gm-style .place-card-large {
  display: none !important;
}
.place-card-large {
  display: none !important;
}
.gm-inset-map {
  display: none;
  z-index: -999;
}