#wpadminbar ul {
  padding: 0 !important;
}
h1 {
  font-size: 48px !important;
}
h2 {
  font-size: 48px !important;
}
h3 {
  font-size: 32px !important;
  font-weight: 700 !important;
  line-height: 48px !important;
}

h4 {
  font-size: 18px !important;
  font-weight: 600 !important;
}

h5 {
  font-size: 24px !important;
  font-weight: 600 !important;
}
h6 {
  font-weight: 700 !important;
}
.hp__how {
  height: 300px !important;
}
.hp__about {
  min-height: 380px;
  margin: 10px;
}
.hp__about:hover .hp__about--header {
  display: none !important;
}
.hp__about h3 {
  font-size: 24px !important;
  font-weight: 600 !important;
}
.hp__about--text {
  display: none;
}
.hp__about:hover .hp__about--text {
  display: block;
}
.hp__about:hover .hp__about--text h3 {
  display: block !important;
}
.hp__about--btn {
  display: none;
}
.hp__about:hover .hp__about--btn {
  display: block;
}
.mission__block p {
  margin-bottom: 25px !important;
}
.mission__block p:last-of-type {
  margin-bottom: 0px !important;
}
.content__table h5 p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}
.content__table .elementor-toggle-icon {
  font-size: 18px;
  margin-top: 18px;
}
.content__table {
  align-items: center !important;
}

.content__table .elementor-tab-title:hover a {
  color: #009949 !important;
}
.content__table .elementor-toggle .elementor-tab-title {
  padding: 8px !important;
}
.content__table .elementor-toggle .elementor-tab-content {
  padding: 15px 8px !important;
}
ul {
  padding: 20px !important;
}
ol {
  padding: 20px !important;
}
li p {
  margin-bottom: 8px;
}
ol li p {
  margin-bottom: 8px;
}

.home__card {
  cursor: pointer;
  width: 568px !important;
  height: 391px !important;
  margin-right: 16px !important;
}
.card2 {
  margin-right: 0 !important;
  margin-left: 16px !important;
}
.home__card__heading {
  display: none;
}
.home__card__abHeading {
  bottom: 65px !important;
  /* width: fit-content !important; */
}
.home__card__abBtn {
  bottom: 50px !important;
  top: auto !important;
  display: none;
}
.home__card__text {
  display: none;
}
.home__card:hover .home__card__heading {
  display: block;
}
.home__card:hover .home__card__text {
  display: block;
}
.home__card:hover .home__card__abHeading {
  top: 30px !important;
}
.home__card:hover .home__card__abBtn {
  display: block;
}
nav ul {
  padding: 0 !important;
}
.menu__top a {
  font-weight: 500 !important;
}
footer p {
  font-size: 14px;
}
.nav__mobile {
  width: 150px !important;
}
.nav__mobile {
  position: absolute !important;
  right: 10px !important;
  top: 20px !important;
}
.nav__icons {
  position: absolute !important;
  right: 60px !important;
  top: 25px !important;
}
.clip__certyfikat {
  clip-path: polygon(0 0, 100% 0, 100% 97.5%, 0 97.5%);
}


.newsletter {
  color: white !important;
}
.newsletter div {
  display: flex;
  margin-bottom: 16px;
}
.newsletter input[type="submit"] {
background-color: #009949;
color: white !important;
font-family: 'Poppins';
border: none;
border-radius: 80px;
padding: 12px 20px;
}
.newsletter input[type="text"] {
  border-radius: 10px;
  margin-right: 8px;
}
.newsletter input[type="checkbox"] {
margin-right: 8px;
}
.newsletter label {
  font-size: 10px;
  font-family: "Poppins";
  letter-spacing: 0.17px;
  line-height: 16px;
}
.newsletter ::placeholder {
  color: #535353;
  opacity: 100%;
  font-size: 14px;
  font-family: "Poppins";
}
@media only screen and (max-width: 1024px) {
  .home__card {
    margin: 10px auto 10px auto !important;
  }
  .card2 {
    margin: 10px auto 10px auto !important;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 42px !important;
  }
  h5 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 24px !important;
    line-height: 36px !important;
  }
  h4 {
    font-size: 36px !important;
  }
  h2 {
    font-size: 28px !important;
  }
}
@media only screen and (max-width: 475px) {
  h1 {
    font-size: 36px !important;
  }
  h5 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 22px !important;
  }
  h4 {
    font-size: 28px !important;
  }
  .home__card {
    height: 550px !important;
  }
  h2 {
    font-size: 28px !important;
  }
}
