.news__wrapper {
  width: 1140px;
  margin: 50px auto;
  min-height: 65vh;
  font-family: 'Poppins', sans-serif;
}
.news__header {
  background-color: #163771;
  color: white;
  text-align: center;
  padding: 40px 0;
  margin: 0;
}
.single__post {
  display: flex;
  height: 352px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.post__thumbnail {
  height: 352px !important;
  width: 376px !important;
  border-radius: 4px;
}
.post__thumbnail img {
  height: 352px !important;
  width: 376px !important;
  max-width: 1000px;
  border-radius: 4px;
  overflow: hidden;
  object-fit: cover;
}

.post__content {
  padding: 20px 10px 20px 30px;
  overflow: hidden;
}
.post__content h2 {
  font-size: 24px !important;
  margin-bottom: 10px;
}
.post__link {
  color: #009949;
  text-decoration: underline;
  font-size: 16px;
}
.post__link:hover {
  color: #163771;
}
.post__desc {
  font-size: 14px;
  height: 180px;
  overflow: hidden;
}

.pagination {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .next {
  display: none;
}
.pagination .prev {
  display: none;
}
.page-numbers {
  width: 32px;
  height: 32px;
  font-size: 14px;
  color:#0F1126 ;
  display: block;
  margin: 5px;
  line-height: 32px;
  opacity: 40%;
}
.pagination .current {
  background-color: #009949;
  border-radius: 80px;
  color: white;
  opacity: 100%;
}
.page-numbers:hover {
  background-color: #009949;
  border-radius: 80px;
  color: white;
  opacity: 100%;
}
.post__date img {
  margin-right: 8px;

}
.post__date {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 8px;
}
@media only screen and (max-width: 1160px) {
.single__post {
  height: auto;
  width:376px ;
  flex-direction: column;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
}
.news__wrapper {
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  display: flex;
}
.post__content {
  padding: 20px;
}
.post__desc {
  height: 370px;
}
}

@media only screen and (max-width: 840px)  {
  .news__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .post__desc {
    height: fit-content;
  }
  }

  @media only screen and (max-width: 424px)  {
    .single__post {
      height: auto;
      width:310px;
    }
    .post__thumbnail {
      width: 310px !important;
      height: 290px !important;
    }
    .post__thumbnail img {
      width: 310px !important; 
      height: 290px !important;
    }
    }
    