.pharmacy__how .elementor-container {
  margin-left: auto !important;
  margin-right: 0 !important;
  right: 0 !important;
}
.pharmacy__how .elementor-column-gap-default>.elementor-column>.elementor-element-populated {
  padding: 0 !important;
}
.pharmacy__how ul {
  padding: 20px !important;
}
.pharmacy__carousel .elementor-testimonial__text {
  font-weight: 600 !important;
  font-size: 18px !important;
}
.pharmacy__carousel .elementor-testimonial__image img {
  border-radius: 0 !important;
  object-fit: contain !important;
}
.numbers {
  font-size: 56px !important;
}