.post {
  width: 1140px;
  margin: 50px auto;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
}
.post .content a {
  color: #163771 !important;
  text-decoration: underline !important;
}
.post .content h4 {
  font-size: 28px !important;
  color: black !important;
}
.post .content ul {
  padding: 8px 32px !important;
}
.post .default {
  text-align: none !important;
}
.post .content img {
  max-width: 100% !important;
}
.post .content hr {
  margin: 64px 0;
  border: 1px solid rgb(31, 31, 31);
}
.post .content hr:first-of-type {
  margin: 0 0 64px 0;
}
.post .content a:hover {
  color: #009949 !important;
}
/* .post .content {
  order:4;
} */
.post h2 {
  font-weight: bold !important;
  font-size: 32px !important;
  color: black;
}
.post__cont {
  width: 768px;
  display:flex;
  flex-direction: column;
}
.post__cont .post__date {
  margin: 20px 0 10px 0;
  display: flex;
  align-items: center;
  vertical-align: middle;
  
}
.post__cont img {
  margin-right: 10px;
  
}
.post__btn {
  margin: 0 auto !important;
  width: fit-content !important;
}
.post__btn {
  margin-top: 25px !important;
  display: block;
  padding: 15px 25px !important;
  border-radius: 50px;
  background-color:#009949;
  color: white !important;
}
.post__btn:hover {
  background-color: #163771;
  color: white;
}
.category__list {
  width: 268px;
  border: 1px solid #D6D6D6;
  padding: 20px;
}
.category__list a {
  display: block;
  width: 100%;
}
.underline  {
  width: 100%;
  height: 1px;
  background-color: #D6D6D6;
  margin: 10px 0 10px 0;
}

.tags__list {
  width: 268px;
  border: 1px solid #D6D6D6;
  padding: 20px;
  margin-top: 30px;
}
.tags__list div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.category__list a {
  color: black;
}
.tags__list a {
  color: black;
}
.tags__list a:hover {
  color: #009949;
}
.category__list a:hover {
  color: #009949;
}
.post__btn img {
  margin-left: 8px;
}
.post__data h4 {
  font-size: 28px !important;
  color: black !important;
}
.alignleft {
margin-bottom:25px;
}
.dkpdf-button-container {
  padding-top: 0 !important;
}
@media only screen and (max-width: 1160px)  {
  .post {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .post__cont {
    width: 95%;
  
  }
  .post__data {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  
  }
  .tags__list {
    margin-top: 0;
  }
  
}
@media only screen and (max-width: 630px) {
.post__data {
  flex-direction: column;
  align-items: center;
}
.tags__list {
  margin-top: 30px;
}
.content img {
  display: block !important;
  float: none !important;
}
.post .content h4 {
  font-size: 22px !important;
}
.alignleft {
margin-bottom:auto;
}
}
