
.wrapper {
	width: $size__wrapper-hd;
	margin:0 auto;
	position: relative;
}
body {
	background-color: $color__background-body;
}
html {
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/*--------------------------------------------------------------
10.1 Header
--------------------------------------------------------------*/
@import "primary/header";

/*--------------------------------------------------------------
10.2 Content
--------------------------------------------------------------*/
@import "primary/fullwidth";

@import "primary/content-sidebar";

@import "primary/home";

@import "primary/contact";

/*--------------------------------------------------------------
10.3 Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
10.4 Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
10.5 Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
10.5 Footer
--------------------------------------------------------------*/
@import "primary/footer";