h1, h2, h3, h4, h5, h6 {
	font-family: $font__secondary;
	margin: 0;
}

h1 {
	@include font-size(4.8);
}

h2 {
	@include font-size(4.4);
}

h3 {
	@include font-size(2.4);
}

h4 {
	@include font-size(1.5);
}

body .page-title {
	font-weight: 400;
	clear: none;
	margin-bottom: 35px;
	border-bottom: 0;
	display: block;
	color: $color__main;
}

body .entry-title,
.blog .entry-title,
.search .entry-title,
.archive .entry-title {
	@include font-size(2);
	display: block;
	text-transform: none;
	margin-bottom: 0.5em;
	padding-bottom: 0;
	border-bottom: 0;
	
	a {
		@include transition(all,0.35s,ease);
	}
}

.single .entry-title {
	margin-bottom: 0.3em;
}
