body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-weight: 400;
	@include font-size($font__size);
	line-height: $font__line-height-body;
}

html {
	font-size: 10px;
}

p {
	line-height: 1.375;
	font-weight: 400;
}

@import "headings";

@import "copy";

@import "custom-classes";