.newsletter-form-container {
    background-color: #fff;
    background-image: url('../images/newsletter-bg.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $radius__large;
    box-shadow: 0 8px 24px rgba(black, .1);
    display: flex;
    margin-bottom: 100px;
    padding: 80px;

    > div {
        flex: 1;
    }

    h3 {
        @include font-size(3);
        line-height: 1.4;
        padding-right: 25%;
    }

    form {
        height: 100%;
        position: relative;

        input {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            &[type="email"] {
                border: none;
                border-radius: 50px;
                box-shadow: 0 8px 24px rgba(black, .1);
                padding-right: 100px;
            }

            &[type="submit"] {
                font-weight: 500;
                padding: 11px;
                right: -1px;
            }
        }
    }
}