.popup-container {
    align-items: center;
    background-color: rgba(black, .8);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999999;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    .inner-content-wrapper {
        background-color: #fff;
        border-radius: 10px;
        max-width: 500px;
        padding: 30px;
        position: relative;
        width: 100%;

        .inner-content {
            @include font-size(2.2);
            text-align: center;
        }

        .close-popup {
            align-items: center;
            border-radius: 50%;
            display: flex;
            @include font-size(1.2);
            font-weight: bold;
            height: 26px;
            justify-content: center;
            position: absolute;
            right: -12px;
            top: -12px;
            width: 26px;
        }
    }
}

.search-form-popup {
    align-items: center;
    background-color: $color__background-body;
    display: flex;
    height: 150px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    @include transition();
    visibility: hidden;
    z-index: 99999999999;

    &.open {
        opacity: 1;
        transform: translateY(0%);
        visibility: visible;
    }

    .wrapper {
        align-items: center;
        display: flex;

        .search-form-container {
            flex: 19;

            input {
                background-image: url('../images/icons/search.svg');
                background-position: 15px center;
                background-repeat: no-repeat;
                padding-left: 45px;
                width: 100%;
            }
        }

        .close-search-form-popup-btn-wrapper {
            display: flex;
            flex: 1;
            justify-content: center;

            a {
                color: $color__link-menu;
            }
        }
    }

    .search-results-wrapper {
        background-color: $color__background-body;
        left: 0;
        position: absolute;
        top: 80%;
        width: 100%;
        
        .wrapper {
            display: flex;
            flex-direction: column;
                
            .search-results {
                margin-bottom: 3px;
                width: 100%;

                &:last-child {
                    margin-bottom: 30px;
                }

                h4,
                a {
                    background-color: #fff;
                    @include font-size(1.2);
                    margin-bottom: 3px;
                    padding: 20px;
                }

                h4 {
                    font-weight: bold;
                }

                a {
                    align-items: center;
                    color: $color__text-main;
                    display: flex;

                    img {
                        height: 30px;
                        margin-right: 15px;
                        width: 30px;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &:hover,
                    &:active {
                        color: $color__main;
                    }
                }

                &.kategorie {
                    a {
                        background-image: url('../images/icons/category.svg');
                        background-position: 20px center;
                        background-repeat: no-repeat;
                        padding-left: 55px;
                    }
                }
            }
        }

        .s-loader {
            background-image: url('../images/loader.gif');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 0;
            display: none;
            height: 20px;
            left: 50%;
            position: absolute;
            width: 20px;

            &.show {
                display: block;
            }
        }
    }
}