.prefooter {
    background-color: $color__background-footer;
    color: $color__text-footer;
    padding: 30px 0;

    .wrapper {
        display: flex;

        > div {
            display: flex;
            flex-direction: column;
            flex: 1;

            h4 {
                color: #fff;
                margin-bottom: 20px;
            }

            a {
                color: $color__link-footer;
                @include font-size(1.4);
                margin-bottom: 10px;
                
                &:hover,
                &:active {
                    color: #fff;
                }
            }
        }
    
        .one {
            padding-right: 100px;

            .badges {
                display: flex;
                margin-top: 50px;

                .badge {
                    &:not(:last-of-type) {
                        margin-right: 25px;
                    }
                    
                    align-items: center;
                    border: 1px solid $color__text-footer;
                    display: flex;
                    flex-direction: column;
                    height: 100px;
                    justify-content: center;
                    width: 100px;

                    img {
                        margin-bottom: 15px;
                    }

                    figcaption {
                        @include font-size(1);
                        text-align: center;
                    }
                }
            }

            .social {
                display: flex;
                justify-content: flex-end;
                margin-top: 30px;

                > a {
                    display: block;

                    &:not(:last-of-type) {
                        margin-right: 10px;
                    }

                    img {
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }
    }
}