.social-links-container {
	display: flex;
	align-items: center;
	.social-link {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0;
		margin-right: 8px;
		background-color: $color__main;
		&:last-child {
			margin-right: 0;
		}
	}
	img {
		width: 24px;
	}
}