$color__main: #30A9DE;
$color__secondary: #E53A40;

$color__background-body: #F4F4F8;
$color__background-header: transparent;
$color__background-footer: #444863;
$color__background-screen: #f1f1f1;
$color__hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__table-border: #ededed;

$color__text-main: #454865;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: $color__main;
$color__link-visited: $color__link;
$color__link-hover: darken($color__link, 13%);
$color__link-menu: #454865;

$color__text-footer: #9295AE;
$color__link-footer: $color__text-footer;

$color__button-text:#fff;
$color__button-text-alt:#000;
$color__button-text-primary:#fff;
$color__background-button: $color__main;
$color__background-button-alt: $color__secondary;
$color__background-button-primary: $color__main;

$color__border-button: #333 #111 #111;
$color__border-button-hover: #222 #111 #111;
$color__border-button-focus: #222 #111 #111;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__label: #666;