$size__site-main: 100%;
$size__site-content: 60%;
$size__site-sidebar: 30%;
$size__padding: 20px;
$size__padding-large: 30px;
$size__padding-mobile: 15px;

$size__wrapper-hd: 1168px;
$size__wrapper-desktop: 1168px;
$size__wrapper-tablet: 720px;
$size__wrapper-mobile-big: 440px;
$size__wrapper-mobile-small: 340px;

$responsive__hd: 1920px;
$responsive__desktop: 1260px;
$responsive__tablet: 768px;
$responsive__mobile-big: 480px;
$responsive__mobile-small: 320px;

$radius__large: 20px;
$radius__small: 7px;
$radius__menu: 10px;

$mobile__padding-small: 50px;
$mobile__padding-medium: 70px;
$mobile__padding-big: 100px;

$mobile__margin-small: 50px;
$mobile__margin-medium: 70px;
$mobile__margin-big: 100px;