$font__basesize: 1;
$font__size: 1.6;
$font__main: 'Poppins', sans-serif;
$font__secondary: 'Poppins', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.15;
$font__line-height-pre: 1.6;