a {
	color: $color__link;
	text-decoration:none;
	@include transition(all,0.35s,ease);

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
}

a[href*="#"] {
	scroll-behavior: smooth;
}