.main-navigation {

	>div {
		ul {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 0;
			margin: 0;

			li {

				&.current-menu-item,
				&.current-page-ancestor,
				&.current-post-ancestor,
				&.current-menu-parent,
				&.current-post-parent {
					a {
						color: $color__main;
					}
				}

				&:not(:last-child) {
					margin-right: 45px;
				}

				&.menu-item-has-children {
					position: relative;

					//sub-menu
					>ul {
						flex-direction: column;
						max-height: 0;
						@include transition();
						overflow: hidden;
						position: absolute;
					}

					&:hover {
						>ul {
							max-height: 999px;
						}
					}
				}

				a {
					@include font-size(1.6);
					font-family: $font__secondary;
					color: $color__link-menu;
					font-weight: 600;
					@include transition();

					&:hover {
						color: $color__main;
					}
				}
			}
		}
	}

}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.shop-menu-container {
	align-items: center;
	display: flex;

	&.temp-open {
		.cart-items-container {
			opacity: 1 !important;
			transform: translateY(0) !important;
			visibility: visible !important;
		}
	}

	> a {
		margin-right: 15px;
	}

	.wishlist_products_counter {
		&::before {
			position: relative;
			top: -2px;
		}
	}

	.cart-icon-wrapper {
		position: relative;

		&:hover,
		&:active {
			.cart-items-container {
				opacity: 1;
				transform: translateY(0);
				visibility: visible;
			}
		}

		span.cart-count,
		.cart-items-container {
			position: absolute;
		}

		span.cart-count {
			align-items: center;
			background-color: $color__main;
			border-radius: 50%;
			bottom: -15px;
			display: flex;
			justify-content: center;
			@include font-size(1.1);
			height: 20px;
			right: -15px;
			width: 20px;
			z-index: 9999;
		}

		.cart-items-container {
			background-color: #fff;
			border-radius: $radius__large;
			box-shadow: 0px 18px 40px rgba(black, .1);
			min-width: 300px;
			opacity: 0;
			overflow: hidden;
			right: 0;
			transform: translateY(5%);
			@include transition();
			visibility: hidden;
			z-index: 9998;

			h4 {
				background-color: $color__link-menu;
				color: #fff;
				margin: 0 0 20px 0;
				padding: 20px 10px;
				text-align: center;
				white-space: nowrap;
			}

			.single-cart-item {
				display: flex;
				margin-bottom: 20px;
				padding: 10px 20px;

				figure {
					img {
						height: auto;
						max-width: 75px;
					}
				}

				.item-info {
					@include font-size(1.4);
					padding-left: 15px;
				}

				.name {
					margin: 0 0 10px 0;
				}

				.details {
					color: $color__link-menu;

					p {
						display: flex;
					}

					.separator {
						margin: 0 5px;
					}
				}
			}

			.price-total {
				margin: 20px 0;
				text-align: center;

				.small {
					color: $color__link-menu;
					@include font-size(1.2);
				}
			}

			.button-wrapper {
				display: flex;
				justify-content: center;
				margin-bottom: 20px;
				padding: 10px 0;

				.button {
					background-color: $color__main;
					color: #fff;

					&:hover {
						background-color: #fff;
						color: $color__main;
					}
				}
			}
		}
	}
}

.cart-checkout-order-nav {
	align-items: center;
	background-color: #fff;
	border-radius: $radius__large 20px 0 0;
	display: flex;
	justify-content: space-around;
	margin-bottom: 3px;

	p {
		border-bottom: 2px solid transparent;
		color: #9295AE;
		flex: 1;
		margin: 0;
		padding: 24px 0;
		text-align: center;

		&.active {
			border-bottom-color: $color__main;
			color: $color__main;
		}
	}
}

/* Small menu */
#toggle {
	display: none;
}