
	.pagination {
		font-size: 0;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: $size__padding;

		.page-numbers {
			color:#fff;
			background:$color__main;
			@include font-size(1.4);
			width: 36px;
			height: 36px;
			line-height: 34px;
			border:2px solid transparent;
			margin:0 4px;
			display: inline-block;
			text-align: center;

			@include transition(all,0.35s,ease);

			&:hover,
			&.current {
				background:mix($color__main,#fff,85%);
				color:#fff;
			}
			&.prev
			&.next {}
			&.dots {
				background:none;
				width:auto;
				color:$color__text-main;

				&:hover {
					background:none;
				}
			}

		}
	}