/******* RESPONSIVE    ******/

	.desktop-wide,
	.desktop,
	.tablet,
	.mobile-big,
	.mobile-small {display: none;}
	.desktop-wide {display: block;}


	/* DESKTOP 1920 - 2560 DESKTOP */

		@media screen and (min-width : $responsive__hd) {
			@import "hd";
		}

	/* DESKTOP 1200 - 1920 DESKTOP */

		@media screen and (min-width : $responsive__desktop) {

			.tablet,
			.mobile-big,
			.mobile-small {display: none;}
			
			.desktop {display:block;}

			@import "desktop";
		}
	

	/* TABLET 760 - 1023 TABLET */
 
		@media screen and (min-width : 760px) {
			.site-menu {display: block !important;}
			.site-menu > ul > li > ul {display: none !important;}
			.site-menu > ul > li:hover > ul {display: block !important;}
		}
		@media screen and (min-width : 760px) and (max-width : 1023px) {

		}
		@media screen and (max-width : ($responsive__desktop - 1px)) {
			.desktop-wide,
			.desktop,
			.mobile-big,
			.mobile-small {display: none;}

			.tablet{display: block;}

			@import "tablet";
			
		}

	/* MOBILE 480 - 759 MOBILE */

		@media screen and (max-width : ($responsive__tablet - 1px)) {

			.desktop-wide,
			.desktop,
			.tablet,
			.mobile-small {display: none;}

			.mobile-big {display:block;}
			@import "mobile-big";

			
		}

	/* MOBILE 320 - 479 MOBILE */

		@media screen and (max-width : ($responsive__mobile-big - 1px)) {

			.desktop-wide,
			.desktop,
			.tablet,
			.mobile-big {display: none;}
			.mobile-small {display: block;} 
			
			@import "mobile-small";
			
		}
