.wrapper {
	width: $size__wrapper-mobile-big;
}

.site-header {
	.site-branding {
		img {
			max-width: 55px;
		}
	}
}

.pagination .page-numbers {
	margin-bottom: 10px;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 100%;
}

.gallery-columns-4 .gallery-item {
	width: 50%;
}

.gallery-columns-5 .gallery-item {
	width: 50%;
}

.gallery-columns-6 .gallery-item {
	width: 33%;
}

.gallery-columns-7 .gallery-item {
	width: 33%
}

.gallery-columns-8 .gallery-item {
	width: 25%;
}

.gallery-columns-9 .gallery-item {
	width: 33%;
}

.flip .site-main,
.site-main {
	padding-left: 0;
}

.content-area {
	width: auto;
	float: none;
	padding-left: 0;
}

.site-content .widget-area {
	width: auto;
	float: none;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #bbb;
}

.wpb_column {
	margin-top: 25px;
}

.wpb_column:first-child {
	margin-top: 0;
}

.page-with-sidebar-container {
	flex-direction: column;
}

.newsletter-form-container {
	padding: 10px;

	.left {
		h3 {
			@include font-size(2);
		}
	}

	.right {
		form {
			width: 90%;
		}
	}
}

.page-template-contact {
	.banner {
		background-image: none;
		text-align: center;
	}

	.faq-form-wrapper {
		flex-direction: column;

		> div {
			.header {
				h3 {
					@include font-size(2);
				}
			}
		}

		.right {
			margin-top: 30px;
		}
	}

	.tiles-wrapper {
		grid-template-columns: 1fr;

		> div {
			background-position: 95% center;
			background-size: 20px;
			height: auto;
			padding: 20px;

			a {
				@include font-size(1.4);
			}
		}
	}
}

.prefooter {
	.wrapper {
		.one {
			padding-right: 0;
		}
	}
}

.blog {
	.site-main {
		grid-template-columns: 1fr;
		padding-top: 0;
	}
}	

// WooCommerce
.woocommerce {
	.top-filter {
		.grid-list-selection {
			display: flex;
		}

		.woocommerce-result-count {
			display: none;
		}
	}

	ul.products {
		li {
			figure {
				height: 170px;
			}
		}

		&.columns-4 {
			li {
				margin: 0 0 20px !important;
				width: 100% !important;
			}
		}

		&.columns-1 {
			li {
				figure {
					width: 80px;

					img {
						height: 100%;
						object-fit: contain;
						width: 100%;
					}
				}
			}
		}
	}

    .woocommerce-order {
        .order-custom-details {
            margin: 30px 0;

            .details-container {
                flex-direction: column;
			}
        }
			
		td.product-name {
			img {
				display: none;
			}
		}

		.sub-table {
            margin-left: 0;
            width: 100%;
        }
    }
}