.wrapper {
	width: $size__wrapper-mobile-small;
}

.gallery-columns-1 .gallery-item { width: 100%; }
.gallery-columns-2 .gallery-item { width: 100%; }
.gallery-columns-4 .gallery-item { width: 100%; }
.gallery-columns-5 .gallery-item { width: 50%; }
.gallery-columns-6 .gallery-item { width: 50%; }
.gallery-columns-7 .gallery-item { width: 50% }
.gallery-columns-8 .gallery-item { width: 50%; }
.gallery-columns-9 .gallery-item { width: 33%; }

.main-navigation li.ekspres > a:before {margin-left: 154px;}
