.wrapper {
	width: $size__wrapper-tablet;
}

/* Small menu */
#toggle {
	display: block;

	.toggle-container {
		width: 25px;
		height: 18px;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;
		position: relative;

		.toggle-item {
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			background: $color__main;
			border-radius: 0px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;

			&:nth-child(1) {
				top: 0px;
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: 7px;
			}

			&:nth-child(4) {
				top: 14px;
			}
		}
	}

	&.open {
		.toggle-item {
			&:nth-child(1) {
				top: 12px;
				width: 0%;
				left: 50%;
			}

			&:nth-child(2) {
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}

			&:nth-child(4) {
				top: 12px;
				width: 0%;
				left: 50%;
			}
		}
	}
}

.main-navigation {
	padding: 0;
	width: 100%;
	overflow: auto;
	max-height: 65vh;

	&.toggled {
		div {
			display: block;
		}
	}

	&.open {
		>div>ul {
			// max-height: 999px;
		}
	}

	div {
		ul {
			flex-direction: column;
			width: 100%;
			overflow: hidden;
			// max-height: 0;
			display: none;
			@include transition(max-height, .75s, linear);
			background: $color__background-header;

			li {
				text-align: center;
				width: 100%;

				&:not(:last-child) {
					margin: 0;
				}

				&:first-child {
					margin-top: 25px;
				}

				&.menu-item-has-children {
					&:hover>ul {
						max-height: 0;
						visibility: hidden;
					}
				}

				a {
					display: block;
					padding: 25px 0;
					width: 100%;
				}
			}
		}
	}
}

.site-header {
	padding: 20px 0;
	width: 100vw;

	&.sticky {
		padding: 15px 0;
	}

	.site-branding {
		img {
			max-width: 150px;
		}
	}

	.shop-menu-container {
		left: 50%;
		position: absolute;
		top: 0;
		transform: translateX(-50%);
	}
}

.site-footer {
	.wrapper {
		flex-direction: column;

		.f-center,
		.f-right {
			justify-content: flex-start;
		}

		> div:not(:last-of-type) {
			margin-bottom: 20px;
		}
	}
}

.newsletter-form-container {
	flex-direction: column;
	padding: 20px;

	.left {
		h3 {
			@include font-size(2.4);
			padding-right: 0;
			text-align: center;
		}
	}

	.right {
		display: flex;
		justify-content: center;
		height: 50px;
		margin-top: 30px;

		form {
			width: 70%;
		}
	}
}

.page-template-contact {
	.banner {
		&::before {
			display: none;
		}

		> p {
			width: 100%;
		}
	}

	.faq-form-wrapper {
		flex-direction: column;
	}

	.tiles-wrapper {
		grid-template-columns: 1fr;

		> div {
			padding-left: 20%;
		}
	}
}

.prefooter {
	.wrapper {
		flex-direction: column;

		.one .social {
			justify-content: flex-start;
		}

		> div {
			margin-bottom: 20px;
		}
	}
}

.page-container {
	padding-top: 30px;
}

.home {
	.page-container {
		padding-top: 30px;
	}
}

.site-main {
	padding-bottom: 30px;
}

.blog {
	.site-main {
		grid-template-columns: 1fr 1fr;
	}
}	

// WOOCOMMERCE
.woocommerce {
	.archive-with-sidebar {
		grid-gap: 30px;
		grid-template-columns: 1fr;
	}

	ul.products {
		&.columns-1 {
			li {
				width: 100% !important;
			}
		}
	}

	.checkout {
		grid-template-columns: 1fr;
	}
}

.categories-menu-container {
    margin-left: 0;
	margin-right: 0;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100vw;

	.mobile-view {
		display: block;
		padding: 20px 20px 0 20px;

		.show-mobile-category-list {
			background-color: $color__main !important;
			color: #fff !important;
			display: block;
			margin: 0 auto;
			max-width: 300px;
			text-align: center;
		}

		li {
			list-style: none;
			margin: 20px 0;
		}

		> ul {
			margin: 0;
			max-height: 0;
			opacity: 0;
			padding: 0;
			@include transition();
			visibility: hidden;

			&.open {
				max-height: 100%;
				opacity: 1;
				visibility: visible;
			}

			li {
				> ul {
					margin: 10px 0 0;
					padding-left: 20px;
	
					li {
						ul {
							margin: 10px 0 0;
							padding-left: 15px;
						}
					}
				}
			}
		}
	}

    > .wrapper {
		display: none;
    }
}