.categories-menu-container {
    background-color: #FFF;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    .mobile-view {
        display: none;
    }
    
    .wrapper {
        &::before,
        &::after {
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            margin: 0;

            li {
                position: relative;

                &:hover,
                &:active {
                    .subcategories-menu {
                        opacity: 1;
                        transform: translateY(0%);
                        visibility: visible;
                    }
                }

                a {
                    color: $color__link-menu;
                    display: block;
                    padding: 20px 0;

                    &:hover,
                    &:active {
                        color: $color__main;
                    }
                }

                .subcategories-menu {
                    background-color: #fff;
                    box-shadow: 0 8px 24px rgba(black, .08);
                    display: flex;
                    flex-direction: column;
                    left: 0;
                    min-width: 200px;
                    opacity: 0;
                    padding: 0 10px;
                    position: absolute;
                    @include transition();
                    transform: translateY(-5%);
                    visibility: hidden;
                    z-index: 1;
                }
            }
        }
    }
}

.categories-tiles-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    margin-bottom: 50px;

    a {
        align-items: center;
        background-color: #fff;
        border-radius: $radius__large;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;

        img {
            height: 100%;
            margin-bottom: 20px;
            max-width: 110px;
            object-fit: contain;
            width: 100%;
        }

        p {
            text-align: center;
        }
    }
}