.woocommerce {
    .woocommerce-order {
        .woocommerce-notice--success {
            background-color: #fff;
            border-radius: $radius__large 20px 0 0;
            margin-bottom: 0;
            padding: 20px;

            img {
                margin-left: 10px;
            }
        }

        .order-custom-details {
            background-color: #fff;
            margin: 5px 0;
            padding: 20px;

            .details-container {
                display: flex;

                > div {
                    display: flex;
                    flex: 1;
                    flex-direction: column;

                    &:first-of-type {
                        padding-right: 30px;
                        strong {
                            white-space: nowrap;
                        }
                    }
                }

                .order-title,
                .order-cost {
                    color: $color__main;
                    @include font-size(2.4);
                }
            }
        }

        .woocommerce-table--order-details {
            tr,
            td,
            th {
                border: none;
            }

            th {
                background-color: transparent;
            }
            
            td.product-name {
                display: flex;

                img {
                    height: 100%;
                    max-height: 100px;
                    max-width: 200px;
                    width: auto;
                }

                a {
                    align-items: center;
                    display: flex;
                    margin-left: 25px;
                }
            }
        }

        .sub-table {
            background-color: #fff;
            border-radius: 0 0 20px 20px;
            margin-left: 50%;
            width: 50%;
            
            tr {
                th,
                td {
                    padding: 20px;
                }
            }

            tr,
            th,
            td {
                border: none;
            }

            th {
                background-color: transparent;
                text-align: left;
            }
        }
    }

    .address-wrapper {
        background-color: #fff;
        border-radius: $radius__large;
        padding: 20px;

        h4 {
            font-weight: bold;
        }

        address {
            border: none;
            margin-top: 25px;
            padding: 0;
        }
    }
}