.woocommerce-message,
.woocommerce-info {
    background-color: #fff !important;
    border-top-color: $color__main !important;

    &::before {
        color: $color__main !important;
    }
}

.woocommerce .woocommerce-breadcrumb {
    @include font-size(1.4);
    margin-bottom: 35px;
}

.return-to-shop {
    margin-bottom: 30px !important;
}

.tinv-wishlist.woocommerce {
    .tinvwl-table-manage-list {
        border-radius: $radius__large;
        overflow: hidden;
        margin-bottom: 50px;
        
        th,
        td {
            background-color: #fff;
            border: none;
        }

        .tinvwl-txt {
            white-space: nowrap;
        }
    }
}

.tinvwl_add_to_wishlist_button {
    background-color: transparent !important;
    height: 25px !important;
    margin-top: 0 !important;
    width: 25px !important;
}

a.wishlist_products_counter.top_wishlist-heart::before {
    color: $color__link-menu;
    font-size: 23px;
    margin-right: 0;
}

.woocommerce {
    button.woocommerce-button,
    button.woocommerce-Button,
    a.button,
    .button,
    a[role="button"],
    a.button.alt,
    button.button.alt,
    input.button.alt {
        background-color: $color__main;
        color: #fff;
        border-radius: $radius__large !important;

        &.disabled {
            background-color: $color__main;

            &:hover,
            &:active {
                background-color: $color__main;
            }
        }

        &:hover,
        &:active {
            background-color: #fff;
            color: $color__main;
        }
    }

    .shop_table {
        background-color: #fff;
        border: none !important;
        margin-bottom: 3px !important;

        th,
        td {
            background-color: #fff;
            border: none !important;
            padding: 20px !important;
        }

        td {
            &.product-remove {
                width: 40px;
                padding: 20px 0 20px 20px !important; 
                
                .remove {
                    background-color: transparent;
                    
                    &:hover,
                    &:active {
                        .delete {
                            display: none;
                        }

                        .delete-hover {
                            display: block;
                        }
                    }

                    .delete-hover {
                        display: none;
                    }
                }
            }

            &.product-thumbnail {
                width: 80px;
            }

            &.product-quantity {
                .inner-wrap {
                    align-items: center;
                    display: flex;
                }
            }
        }

        tr {
            border: none;
        }

        input[type="number"]::-webkit-inner-spin-button, 
        input[type="number"]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }

        input[type="number"] {
            -moz-appearance: textfield;
            border: none;
        }

        #coupon_code {
            background-color: #F4F4F8;
            border: none;
            border-radius: $radius__large;
            padding: 10px;
            width: 165px !important;
        }
    }

    .cart_totals {
        background-color: #fff;
        border-radius: 0 0 20px 20px;
        margin-bottom: 100px;

        h3 {
            padding: 20px;
        }
    }
}

.woocommerce-pagination {
    margin-bottom: 30px;

    .page-numbers {
        border: none !important;

        li {
            border: none !important;
            border-radius: 50%;
            height: 40px;
            width: 40px;

            &:not(:last-of-type) {
                margin-right: 10px;
            }
            
            a,
            span {
                align-items: center;
                display: flex !important;
                height: 100%;
                justify-content: center;
                padding: 0 !important;
            }
            
            a {
                background-color: #fff;
                
                &:hover,
                &:active {
                    background-color: $color__main !important;
                    color: #fff !important;
                }
            }

            span {
                background-color: #fff !important;

                &.current {
                    background-color: $color__main !important;
                    color: #fff !important;
                }
            }
        }
    }
}

// A place to import files for separate WooCommerce modules/sites
@import "categories-menu";
@import "order";