@import "../mixins/mixins-master";
@import "../variables-site/variables-site";

.woocommerce-account {
    h1 {
        @include font-size(3);
        margin-bottom: 70px;
        text-align: center;
    }

    h2 {
        @include font-size(2);
        margin-bottom: 10px;
    }

    h3 {
        color: #9295AE;
        @include font-size(1.6);
    }

    .woocommerce-form {
        border: none !important;
        padding: 0 !important;
        width: 75%;
    }

    input[type="checkbox"] {
        position: relative;
        left: 0;
    }

    .woocommerce-MyAccount-navigation {
        background-color: #fff;
        padding: 10px 20px;
        width: 20%;

        ul {
            list-style: none;
            padding-left: 0;

            li {
                margin: 10px 0;

                a {
                    color: $color__link-menu;
                }

                &.is-active {
                    a {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .woocommerce-MyAccount-content {
        background-color: #fff;
        padding: 20px;
        width: 78%;

        .edit-account {
            input {
                border-bottom: 1px solid $color__main;
                border-radius: 0 !important;
            }
        }
    }
}

