@import "../mixins/mixins-master";
@import "../variables-site/variables-site";

.woocommerce {
    .archive-with-sidebar {
        display: grid;
        grid-template-columns: 1fr 3fr;

        .left {
        }

        .right {
        }
    }

    .top-filter {
        display: flex;

        .grid-list-selection {
            margin-right: 40px;

            a {
                &:first-of-type {
                    margin-right: 2px;
                }

                svg {
                    fill: #B4B6C8;
                }

                &.selected {
                    svg {
                        fill: $color__main;
                    }
                }
            }
        }
        
        .woocommerce-ordering {
            margin-left: auto;
            max-width: 200px;
            
            select {
                background-color: transparent !important;
                border: none !important;
            }
        }
    }

    .sidebar-categories-list {
        display: flex;
        flex-direction: column;

        a {
            color: $color__text-main;
            display: inline-block;
            padding: 10px 0;

            &.up-link {
                @include font-size(1.8);
                font-weight: bold;
            }

            &.current {
                font-weight: bold;
            }

            span {
                color: #9295AE;
            }
        }
    }

    ul.products {
        li {
            background-color: #fff;
            border-radius: $radius__large;

            figure {
                height: 260px;
                margin-bottom: 20px;
                padding: 20px 10px;

                a {
                    display: block;
                    height: 100%;

                    img {
                        height: 100% !important;
                        object-fit: contain;
                        width: 100%;
                    }
                }


                .onsale {
                    background-color: $color__main;
                    border-radius: $radius__large;
                    left: 10px !important;
                    line-height: 1;
                    min-height: auto;
                    padding: 5px 10px;
                    right: auto !important;
                    top: 15px !important;
                }
            }

            .price-container {
                display: flex;
                padding: 0 20px;

                .old {
                    @include font-size(1.4);
                    margin-right: 10px;
                    text-decoration: line-through;
                }
            }

            .meta-container {
                display: flex;
                flex-direction: column;
                height: 125px;
                padding: 20px;

                .name {
                    margin: 0 0 10px;
                }

                .button-wrapper {
                    align-items: center;
                    display: flex;
                    margin-top: auto;

                    .add-to-cart {
                        background-color: transparent;
                        margin-left: 10px;
                        padding: 0;
                    }

                    .more-info {
                        margin-left: auto;
                    }
                }
            }
        }

        &.columns-1 {
            li {
                align-items: center;
                display: flex;

                figure {
                    height: 135px;
                    margin-bottom: 0;
                    max-width: 150px;
                    order: 1;
                }

                .meta-container {
                    order: 2;

                    .button-wrapper {
                        align-items: flex-start;

                        .more-info {
                            margin-left: 20px;
                        }
                    }
                }

                .price-container {
                    align-items: center;
                    display: flex;
                    margin-left: auto;
                    order: 3;
                }
            }
        }
    }
}

.header-wrapper {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    margin-bottom: 50px;
    padding: 50px 0;

    h1 {
        color: $color__text-main;
    }
}

.additional-description-wrapper {
    margin: 50px 0 100px;
}

.shop-page-content {
    margin: 50px 0 100px;
}