@import "../mixins/mixins-master";
@import "../variables-site/variables-site";

.woocommerce {
    .wc-proceed-to-checkout-wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        padding: 20px 20px 0 20px;
    }

    .cart-empty.woocommerce-info {
        display: none;
    }

    .empty-cart-container {
        figure {
            margin-bottom: 30px;
            text-align: center;

            .main-color {
                fill: $color__main;
            }
        }

        h2,
        p {
            font-weight: bold;
            text-align: center;
        }

        h2 {
            @include font-size(3);
            margin-bottom: 50px;
        }

        p {
            @include font-size(2);
            margin: 0 0 15px;
        }
    }

    .categories-suggested {
        align-items: center;
        display: flex;
        justify-content: center;

        > a {
            display: block;
            font-weight: bold;
            padding: 0 20px;
        }
    }

    .return-to-shop {
        display: flex;
        justify-content: center;
        margin: 100px 0 !important;
    }
}