@import "../mixins/mixins-master";
@import "../variables-site/variables-site";

.woocommerce {
    .checkout {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
		margin: 5px 0 50px;

        .woocommerce-NoticeGroup {
            grid-column: -1 / 1;
            margin-top: 30px;
        }

        .till {
            background-color: #fff;
            border-radius: 0 0 20px 20px;
            padding: 20px;

            #customer_details {
                input[type="checkbox"] {
                    left: 0;
                    position: relative;
                }
            }

            &.shipping-methods {
                border-radius: 0;
                margin-bottom: 5px;
            }

            ul.wc_payment_methods {
                border-bottom: none !important;
                padding-left: 0 !important;
            }

            h3 {
                margin-bottom: 20px;
            }

            #payment .form-row {
                padding: 0 !important;
            }
        }
        
        .col-1,
        .col-2 {
            width: 100%;
        }

        .woocommerce-billing-fields,
        .woocommerce-shipping-fields,
        .woocommerce-additional-fields {
            input,
            textarea {
                background-color: $color__background-body;
            }
        }

        #ship-to-different-address {
            margin: 20px 0;
        }

        .select2-selection {
            background-color: $color__background-body;
            border: none;
            border-radius: $radius__small;
            height: 45px;

            > span {
                height: 45px;

                &:first-of-type {
                    align-items: center;
                    display: flex;
                }
            }
        }

        .woocommerce-checkout-payment {
            background-color: transparent !important;

            .payment_box {
                background-color: transparent !important;
                margin: 0 0 20px !important;
                padding-bottom: 0 !important;
                padding-left: 0 !important;
                padding-top: 0 !important;

                &::before {
                    display: none !important;
                }
            }
        }
    }

    .review {
        #payment {
            display: none;
        }

        .button-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        .shop_table {
            th,
            td {
                padding-left: 0 !important;
            }

            .cart_item {
                .product-image {
                    padding: 0 im !important;
                    width: 100px !important;
                }
            }

            .quantity-price-wrapper {
                color: #9295AE;
                display: flex;
                @include font-size(1.1);

                .product-quantity {
                    margin-right: 20px;
                }
            }
        }
    }

    .woocommerce-terms-and-conditions-wrapper {
        margin-top: 20px;

        label {
            align-items: center;
            display: flex;
            @include font-size(1.2);
            margin-bottom: 15px;
            position: relative;

            span {
                display: block;
                padding-left: 20px;

                &.is-required {
                    color: red;
                    display: inline-block;
                    padding-left: 5px;
                }
            }
        }
    }
}