@import "../mixins/mixins-master";
@import "../variables-site/variables-site";

.woocommerce {
    &.single-product {
        .title-add-to-fav-share {
            align-items: center;
            display: flex;

            h1,
            .add-to-fav-share {
                flex: 1;
            }

            h1 {
                @include font-size(3);
                margin: 0 0 50px;
            }

            .add-to-fav-share {
                align-items: center;
                display: flex;
                justify-content: flex-end;
                position: relative;

                .social-share {
                    display: block;
                    margin-left: 7px;

                    &:hover,
                    &:active {
                        .social-media-share-links {
                            opacity: 1;
                            pointer-events: all;
                            transform: translateY(-50%);
                        }
                    }
                }

                .social-media-share-links {
                    align-items: center;
                    border-radius: $radius__large;
                    background-color: #fff;
                    box-shadow: 0 8px 24px rgba(black, .1);
                    display: flex;
                    opacity: 0;
                    justify-content: space-around;
                    min-width: 150px;
                    opacity: 0;
                    padding: 10px 15px;
                    pointer-events: none;
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-100%);
                    @include transition();

                    > a:not(:last-of-type) {
                        img {
                            height: 15px;
                            width: 15px;
                        }
                    }
                }
            }
        }

        .brand-container,
        .short-description,
        .delivery {
            margin-top: 30px;
        }

        .woocommerce-variation-sku,
        .sku-container {
            color: rgba($color__text-main, .7);
            @include font-size(1.2);
            margin-bottom: 10px;
        }

        .entry-summary .price-container,
        .woocommerce-variation-price {
            align-items: center;
            display: flex;

            > div {
                @include font-size(2);
                font-weight: bold;
            }

            p {
                margin: 0;
            }

            bdi,
            ins,
            small {
                color: $color__text-main;
            }

            ins {
                @include font-size(2);
            }

            bdi {
                font-weight: bold;
            }

            del bdi {
                color: lighten($color__text-main, 50%);
                margin-right: 30px;
                text-decoration: line-through;
            }

            .onsale {
                background-color: $color__main;
                border-radius: $radius__large;
                font-weight: 400;
                left: 0;
                line-height: 1;
                margin-right: 25px;
                min-height: auto;
                padding: 10px;
                position: relative;
                top: 0;
                width: 90px;
            }
        }

        .delivery {
            align-items: center;
            display: flex;
            margin-bottom: 30px;

            svg {
                margin-right: 5px;
            }
        }

        .wcqcs-cross-sells-section-title {
            margin-top: 50px;
        }

        .wcqcs-cross-sells {
            .wcqcs-cross-sell-item-product {
                h4 {
                    font-size: 16px !important;
                }

                a,
                p {
                    font-size: 14px !important;
                }
            }
        }

        .woocommerce-tabs,
        .wc-tabs-wrapper {
            ul.tabs {
                padding-left: 5px !important;

                &::before,
                &::after {
                    display: none !important;
                }

                > li {
                    background-color: transparent !important;
                    border: none !important;
                    margin-right: 50px !important;
                    padding-left: 0 !important;
                    padding-right: 30px !important;
                    
                    &::before,
                    &::after {
                        display: none;
                    }

                    &::before {
                        background-image: url('../../images/icons/drop-down.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        border: none !important;
                        box-shadow: none !important;
                        content: '';
                        display: block;
                        height: 10px !important;
                        left: auto !important;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        @include transition();
                        width: 20px !important;
                    }

                    &.active {
                        &::before {
                            bottom: 50%;
                            transform: rotate(180deg) translateY(-50%);
                            top: auto;
                        }
                    }
                }
            }

            .woocommerce-Tabs-panel {
                h2 {
                    display: none;
                }
            }
        }

        .up-sells,
        .related.products {
            h3 {
                @include font-size(3);
                margin: 50px 0;
                text-align: center;
            }
        }

        .woocommerce-product-attributes {
            tr,
            th,
            td {
                background-color: #fff !important;
            }

            th,
            td {
                padding: 10px 20px;
            }

            th {
                text-align: left;
            }

            td {
                font-style: normal;
            }
        }

        .woocommerce-product-gallery__wrapper {
            div:first-of-type {
                margin-bottom: 10px;
            }
        }
    }

    form.cart {
        .inner {
            align-items: center;
            display: flex;

            .qty-wrapper {
                margin-right: 30px;
            }
        }
    }

    .qty-wrapper {
        align-items: center;
        display: flex;

        .quantity {
            margin: 0 !important;
        }

        .decrease-qty,
        .increase-qty {
            align-items: center;
            display: flex;
            height: 20px;
            justify-content: center;
            margin: 0 3px;
            width: 20px;
        }

        input[type="number"]::-webkit-inner-spin-button, 
        input[type="number"]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
        }

        input[type="number"] {
            border: none;
            max-width: 35px;
            -moz-appearance: textfield;
        }
    }
}