table {
	margin: 0 0px 1.5em;
	width: 100%;
	border-collapse:collapse;
	
	td, th {
		border: 1px solid $color__table-border;
		vertical-align: middle;
	}

}

.entry-content table {
	thead {
		tr:last-child {

			border-bottom: 2px solid $color__table-border;
		}
	}
	th {
		border-left: 2px solid $color__table-border;
		background: #eee;

		&:first-child {
			border-left: 0;
		}
	}

	tr {
			border-top: 2px solid $color__table-border;
		&:first-child {
			border-top: 0;
		}
	}

	td {
		border-left: 2px solid $color__table-border;
		&:first-child {
			border-left: 0;
		}
	}
}