.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

.widget-area {
	
	.widget {
		margin-bottom:$size__padding;
	}

	.widget_search {
		.search-form {
			max-width: 100%;
		}
		input[type="search"] {
			width: 100%;
		}
	}
}

.widget-title {
	padding:10px 20px;
	margin-bottom: 0;
	@include font-size(2);
	border:1px solid $color__hr;
	font-weight: 500;
	color:$color__text-main;
}

.widget_archive,
.widget_categories,
.widget_nav_menu {

	ul {
		padding-left: 0;
		margin-left: 0;
		list-style: none;

		li {
			display: block;

			&:first-child {
				border-top: 0;
			}

			
		}
	
		a {
			display: block;
			@include font-size(1.7);
			line-height: 1.2;
			background-color:$color__main;
			color:#fff;
			font-weight: 400;
			padding:15px 20px 14px;
		}

		li:nth-child(2n) > a {
			background-color:mix($color__main,#fff,90%);
		}

		li.current-menu-item a,
		li a:hover,
		a:hover {
			background-color: mix($color__main,#fff,80%);
			color:#fff;
		}

	}
}
