.gallery {
	margin-bottom: 1.5em;
	margin-left:-5px;
	margin-right:-5px;

}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	margin:3% 0;
	padding-left: 5px;
	padding-right:5px;
	img {
		display: block;
		margin:0 auto;
	}
}

@for $i from 2 through 9 {
	.gallery-columns-#{$i} {
		.gallery-item {
			$width: 100/$i*1%;
			max-width: $width;
		}
	}
}


.gallery-caption {
	display: block;
	margin-top: 10px;
	@include font-size(1.4);
}