.button,
button,
input[type="button"],
input[type="reset"],
a[role="button"],
input[type="submit"] {
	background-color: $color__background-button;
	border: none;
	border-radius: 30px;
	color: $color__button-text;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	display: inline-block;
	@include font-size(1.4);
	line-height: 1;
	padding: .5em 1em .5em;

	&:hover,
	&:active {
		background: $color__button-text;
		color: $color__main !important;
	}

	&:visited {
		color: $color__button-text;
	}
	
	@include transition(all, 0.35s, ease);
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
}