.list-item-label {
    padding-left: 30px;
}

[type='checkbox']:not(:checked)+.list-item-label,
[type='checkbox']:checked+.list-item-label {
    position: relative;
    cursor: pointer;
    display: block;
}

/* checkbox aspect */
[type='checkbox']:not(:checked)+.list-item-label:before,
[type='checkbox']:checked+.list-item-label:before {
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid #E8E8E9;
    box-shadow: 0 1px 5px 0 rgba(122, 122, 122, 0.16);
    background: transparent;
    display: block;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 3px;
    position: absolute;
}

/* checked mark aspect */
[type='checkbox']:not(:checked)+.list-item-label:after,
[type='checkbox']:checked+.list-item-label:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 5px;
    width: 8px;
    height: 4px;
    margin-top: -2px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: translateY(-50%) rotate(-45deg);
    @include transition();
}

/* checked mark aspect changes */
[type='checkbox']:not(:checked)+.list-item-label:after {
    opacity: 0;
}

[type='checkbox']:checked+.list-item-label:after {
    opacity: 1;
}

[type='checkbox']:checked+.list-item-label:before {
    background-color: $color__main;
    border-color: $color__main;
}

/* disabled checkbox */
[type='checkbox']:disabled:not(:checked)+.list-item-label:before,
[type='checkbox']:disabled:checked+.list-item-label:before {
    border-color: #bbb;
    background-color: #ddd;
}

[type='checkbox']:disabled:checked+.list-item-label:after {
    color: #999;
}

[type='checkbox']:disabled+.list-item-label {
    color: #aaa;
}