input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	/* Addresses excess padding in IE8/9 */
	position: relative;
	top: 2px;
}

input[type="search"] {
	-webkit-appearance: textfield;
	/* Addresses appearance set to searchfield in S5, Chrome */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* 2 */
	box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input[type="search"]::-webkit-search-decoration {
	/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	/* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: none;
	border-radius: $radius__small;
	max-width: 100%;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: $color__text-input-focus;
	outline: none;
}

input[type="text"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
textarea:hover {
	border-color: $color__main;
	outline: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 9px 11px;
}

textarea {
	overflow: auto;
	/* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top;
	/* Improves readability and alignment in all browsers */
	width: 100%;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background-image: url(../images/icons/select.png);
	background-repeat: no-repeat;
	background-position: right 20px center;
	background-size: 10px;
	width: 100%;
	max-width: 100%;
	padding: 9px 40px 9px 11px !important;
	color: $color__label;

	option {
		padding: 3px 7px;
	}
}

label {
	cursor: pointer;
}

.search-form {
	display: block;
	width: 100%;
	max-width: 280px;
	position: relative;

	.search-field {
		position: relative;
		width: 100%;
		max-width: 100%;
	}

	.search-submit {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 32px;
		text-indent: -999px;
		background: transparent url(../images/icons/search.svg) no-repeat center center;
		box-shadow: none;
		border: 0;

		&:hover,
		&:active,
		&:focus {
			background-color: transparent;
			box-shadow: none;
			border: 0;
		}
	}
}

span.wpcf7-not-valid-tip {
	color: #F00;
	background: #Fdd;
	padding: 1px 5px;
	font-size: 12px;
	display: block;
	border-radius: 0;
}

textarea.wpcf7-not-valid,
input.wpcf7-not-valid {
	border-color: #F77;
}


div.wpcf7-response-output {
	padding: 0.4em 0.8em;
	margin: 1em 0;
	border-radius: 0;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
	background: #fff8b5;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff5555;
	background: #ffcfcf;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
	background: #d5ffca;
}

textarea.error,
input.error {
	color: $color__text-input-focus;
	border-color: mix(red, #ffffff, 80%);
	outline: none;
	box-shadow: inset 0 0 6px 0px transparentize(red, 0.3);
	background-color: mix(red, #ffffff, 5%);
}

form {

	.form-field {
		position: relative;
		margin: 0;
		margin-bottom: 20px;

		&.checkbox {
			.wpcf7-list-item {
				margin-left: 0;
			}

			label {
				@include font-size(1.2);
				display: block;
				line-height: 1.5;
			}
		}

		&:not(.checkbox) {
			label {
				position: absolute;
				top: 50%;
				left: 15px;
				transform: translateY(-50%);
				@include font-size(1.2);
				font-weight: 500;
				@include transition();
				z-index: 1;
				color: $color__label;
				text-transform: uppercase;
			}

			input,
			textarea {
				width: 100%;
				border-radius: 0;
				border: none;
				z-index: 2;
				@include font-size(1.5);
				padding: 10px 15px;
				background-color: #fff;
				border-bottom: 1px solid $color__main;
				font-weight: 400;

				&:focus,
				&:hover {
					border-bottom: 1px solid darken($color__main, 10%);
				}
			}

			&.active,
			&.message.active {
				label {
					top: 0;
					@include font-size(1.2);
				}

				textarea,
				input {
					border-color: $color__main;
				}
			}

			&.message {
				label {
					top: 25px;
				}
			}
		}
	}

	textarea {
		resize: none;
	}
}


@import "checkboxes";