body .wpb_element_wrapper *[style*="color: #ffffff;"],
body .wpb_element_wrapper *[style*="color:#ffffff;"] {
    text-shadow: 0 0 15px #000, 0 0 5px #000, 0 0 3px #000;
}
body .wpb_element_wrapper {
	color: #000 !important;
}
body #mceu_1 .mce-txt {
	font-size: 0;
}
body #mceu_1 .mce-txt:before {
	content: 'Style';
	font-size: 14px;
}