body.login div#login h1 a {
    background-image: url(../images/logo.svg);
    background-size: auto;
    width: 100%;
    height: 75px;
    background-color: #fff;
    background-position: center top 25px;
    background-size: 250px;
    margin-bottom: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.login form {
    margin-top: 0 !important;
    box-shadow: 0 3px 3px rgba(0,0,0,.13) !important;
}